node_modules
.env

README.md

scripts1/
broadcast/
.github/

# Foundry files
lib/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Foundry build and cache directories
foundry-out/
foundry-cache/

